<h3>Reading the datasets and checking the common columns<h3>

In [67]:
import pandas as pd


file_path_0 = 'C:\\Users\\ReDI\\Desktop\\KreativStorm\\Datasets\\NSSAL_2000.dta'
file_path_10 = 'C:\\Users\\ReDI\\Desktop\\KreativStorm\\Datasets\\NSSAL_2010.dta'


df_1 = pd.read_stata(file_path_0)
df_2 = pd.read_stata(file_path_10)

In [68]:
import pandas as pd

# Assuming df is your DataFrame
column_name = 'hetlife'
column_dtype = df_1[column_name].dtype
print("Data type of column '{}' is: {}".format(column_name, column_dtype))

Data type of column 'hetlife' is: category

<h3>transform the column "hetlife" to numerical<h3>

In [69]:
# Convert the "hetlife" column to numeric data type
df_1['hetlife'] = pd.to_numeric(df_1['hetlife'], errors='coerce')
df_2['hetlife'] = pd.to_numeric(df_2['hetlife'], errors='coerce')

# errors='coerce' will convert any non-numeric values to NaN (missing values)


print(df_1['hetlife'].dtype)
print(df_2['hetlife'].dtype)

float64
float64

<h3>make copies of the new dataset<h3>

In [70]:
df1_float = df_1.copy()
df2_float = df_2.copy()

<h3>Create 2 new datasets, picking only the columns that we need<h3>

In [71]:
columns_to_keep = ['hetlife', 'rsex', 'dateyoi']


new_df_1 = df1_float[columns_to_keep]
new_df_2 = df2_float[columns_to_keep]

<h3>Saving the datasets<h3>

In [72]:
new_df_1.to_csv('df_1999_2001.csv', index=False)

In [73]:
new_df_2.to_csv('df_2010_2012.csv', index=False)

<h3>Dropping miising values<h3>

In [74]:
clean_df_1999 = new_df_1.dropna()
clean_df_2010 = new_df_2.dropna()

<h3>saving again<h3>

In [75]:
clean_df_1999.to_csv('clean_1999.csv', index=False)
clean_df_2010.to_csv('clean_2010.csv', index=False)

<h3>Checking for missing values after dropping them<h3>

In [76]:



nan_values_hetlife = clean_df_1999['hetlife'].isna() 


nan_count_hetlife = nan_values_hetlife.sum()

print("Number of NaN values in column: ", nan_count_hetlife)

Number of NaN values in column:  0

In [77]:



nan_values_hetlife_2010 = clean_df_2010['hetlife'].isna()


nan_count_hetlife_2010 = nan_values_hetlife_2010.sum()

print("Number of NaN values in column: ", nan_count_hetlife_2010)

Number of NaN values in column:  0

<h3>Checking the final datatypes<h3>

In [81]:



data_types = clean_df_2010.dtypes
print(data_types)

hetlife     float64
rsex       category
dateyoi       int16
dtype: object

<h3>Merging the datasets<h3>

In [ ]:
# merging 2 datasets
merged_df = pd.merge(new_df_1, new_df_2, how='outer')


# Save the merged dataset to a new CSV file
merged_df.to_csv('df.csv', index=False)

<h3>make a copy of merged dataset<h3>

In [ ]:
df = merged_df.copy()

<h3> convert the values in a column to lowercase for rsex<h3>

In [ ]:

column_name = 'rsex'


df[column_name] = df[column_name].str.lower()


print(df[column_name].unique())

<h3>Make a copy of the final dataset<h3>

In [ ]:
final_df = df.copy()

In [ ]:
final_df

<h3>Infos on HetLife and transformation of datatype<h3>

In [ ]:
# min and max of column: hetlife

import pandas as pd


column_name_hetlife = 'hetlife'


min_value_of_hetlife = final_df[column_name_hetlife].min()
max_value_of_hetlife = final_df[column_name_hetlife].max()

print("Minimum value of column {}: {}".format(column_name_hetlife, min_value_of_hetlife))
print("Maximum value of column {}: {}".format(column_name_hetlife, max_value_of_hetlife))

<h3>descriptive analysis for the final df<h3>

In [ ]:
# Descriptive Analysis:


# Group by gender and dateyoi, then compute summary statistics
summary_stats = final_df.groupby(['rsex', 'dateyoi'])['hetlife'].agg(['mean', 'median', 'std', 'min', 'max'])

print(summary_stats)

In [ ]:
print(final_df['hetlife'].min())
print(final_df['hetlife'].max())

In [ ]:
sort_column = 'hetlife'

# Sort the DataFrame in descending order based on the specified column
sorted_df = final_df.sort_values(by=sort_column, ascending=False)

# Display the first and last 20 rows
print("First 20 rows:")
print(sorted_df.head(20))  
print("\nLast 20 rows:")
print(sorted_df.tail(20))